.pasillo {
    height: 150px;
    background-color: #8c8c8c;
    border: 2px solid #666;
    margin: 0 auto;
}
.room {
    height: 150px;
    background-color: #b3daff;
    border: 2px solid #666;
    position: relative;
}
.puerta-arriba {
    background-color: brown;
    height: 20px;
    width: 50px;
    position: absolute;
    top: -20px;
    left: calc(50% - 25px);
}
.puerta-abajo {
    background-color: brown;
    height: 20px;
    width: 50px;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 25px);
}
.puerta-derecha {
    width: 30px;
    height: 80px;
    background-color: brown;
    float: right;
    clear: both;
  }
.puerta-izquierda {
    width: 30px;
    height: 80px;
    background-color: brown
}
.window {
    width: 50%;
    height: 25%;
    background-color: cyan;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.patio {
    background-color: #78AB46;
    height: 300px;
    position: relative;
    width: 100%;
}
.calle{
    background-color: gray;
    border: 2px solid black;
}
.lampara{
    width: 50px
}
.cama{
    width: 100px;
}
.comedor{
    width: 50px;
    align-content: center;
}
.cocina{
    width: 100px;
}
.baño{
    width: 100px;
}
.lavadora{
    width: 50px;
}
.arbol{
    width: 100px;
}
.configuracion{
    width: 30px;
}
.header {
    
    background-color: #6aa9e9;
    padding: 10px;
}
.content{
    margin-top: 100px;
}
canvas {
    border: 1px solid black;
}